*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*rule flex*/

.container-flex{
    display: flex;
}

.main-flex{
    display: flex;
    flex-direction: column;
}

/*/rule flex*/

/*box rule*/

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 710px;
    width: 100%;
}
div{
    align-self: center;
    margin: 0 auto;
}
.box-menu{
    width: 1500px;
    font-size: 1.7rem;
}

.padding{
    padding: 10px;
}

.fbasis{
   flex-basis: 25%; 
}

.wave {
  height: 120px;
  background-color: #d3d3d3;
  -webkit-mask: url(img/wave.svg) no-repeat center / cover;
  mask: url(img/wave.svg) no-repeat center / cover;
}

.wave-white{
  height: 120px;
  background-color: #d3d3d3;
  -webkit-mask: url(img/wave.svg) no-repeat center / cover;
  mask: url(img/wave.svg) no-repeat center / cover;
  transform: rotate(180deg);
}


/*/box rule*/

/*header rule*/

.link{
    flex-basis: 50%;
    list-style-type: none;
    justify-content: center;
    align-content: center;
    justify-content: space-around;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

.accedi{
    padding: 10px 20px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 20px;
    font-size: 1.3rem;
}


.login{
    justify-content: flex-end;
}

.style-button{
    font-size: 1.8rem;
    padding: 15px 30px;
    margin-top: 2.4rem;
    margin-right: 2rem;
    border-radius: 2rem;
    border: none;
}

.download-mac{
    color: black;
    background-color: white;
}

.open-discord{
    color: white;
    background-color: black;
}

.rose-box{
    width: 45%;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.title-size{
    font-size: 5rem;
    margin-top: 6.5rem;
}

.p-size{
    font-size: 1.9rem;
    margin-top: 4rem;
    line-height: 1.5;
}

/*/header rule*/

/*backround color*/

.bg-white{
    background-color: white;
}

.bg-gris{
    background-color: #d3d3d3;
}

.bg-black{
    background-color: #23272a;
    padding-bottom: 50px;
    padding-top: 100px;
    width: 100%;
    display: flex;
}

/*/backround color*/

/*main rule*/

.main-flex{
    display: flex;
    flex-direction: column;
}

.p-div{
    padding-bottom: 200px;
    padding-top: 200px;
    width: 100%;
    display: flex;
}

.margin{
    flex-direction: row;
   
}

.big-box{
    width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.title-size-small{
    font-size: 4rem;
}

.p-size-small{
    font-size: 1.9rem;
    margin-top: 2rem;
}

.small-box{
    width: 480px;
    margin-top: 1.7;
    margin-left: 10rem;
    margin-right: 10rem;
}
article{
    display: flex;
    margin: 0 auto;
}

.green-box{
    width: 1346px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h3{
    font-size: 3rem;
}

.stars{
    width: 830px;
}

.img{
    width: 1346px;
}

.box-rose-large{
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 6rem;
}

.box-azure-small{
    width: 210px;
}

.download-violet{
    color: white;
    background-color: #8ea1e2;
    margin-top: 2rem;
}
.language{
    font-size: 1.9rem;
    text-align: center;
    color: white;
}

.language-image{
    width: 1.9rem;
    text-align: center;
}

.margin-bottom{
    margin-bottom: 2rem;
    color: #718ed9;
}

h4{
    color: #718ed9;
    font-size: 1.9rem;
    margin-bottom: 1rem;
}

.footer-list{
    list-style: none;
    text-decoration: none;
    color: white;
    line-height: 1.5rem;
}
/*/main rule*/

/*footer rule*/

footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #23272a;
    margin-top: 3px;
    padding-top: 50px;
}

.box-footer{
    width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.final-button{
    padding: 10px 20px;
    color: white;
    background-color: #90a1e2;
    border-radius: 2rem;
    font-size: 1.1rem;
}

/*/footer rule*/