*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*rule flex*/

.container-flex{
    display: flex;
}

.main-flex{
    display: flex;
    flex-direction: column;
}

/*/rule flex*/

/*box rule*/

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 710px;
}
div{
    align-self: center;
    margin: 0 auto;
}
.box-menu{
    width: 1500px;
    font-size: 1.7rem;
}

.padding{
    padding: 10px;
}

.fbasis{
   flex-basis: 25%; 
}

/*/box rule*/

/*header rule*/

.link{
    flex-basis: 50%;
    list-style-type: none;
    justify-content: center;
    align-content: center;
    justify-content: space-around;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

.accedi{
    padding: 10px 20px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 20px;
    font-size: 1.3rem;
}


.login{
    justify-content: flex-end;
}

.style-button{
    font-size: 1.8rem;
    padding: 15px 30px;
    margin-top: 2.4rem;
    margin-right: 2rem;
    border-radius: 2rem;
    border: none;
}

.download-mac{
    color: black;
    background-color: white;
}

.open-discord{
    color: white;
    background-color: black;
}

.rose-box{
    width: 45%;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.title-size{
    font-size: 5rem;
    margin-top: 6.5rem;
}

.p-size{
    font-size: 1.9rem;
    margin-top: 4rem;
    line-height: 1.5;
}

/*/header rule*/

/*backround color*/

.bg-white{
    background-color: white;
}

.bg-gris{
    background-color: #d3d3d3;
}

.bg-black{
    background-color: #23272a;
}

/*/backround color*/

/*main rule*/

.main-flex{
    display: flex;
    flex-direction: column;
}

.p-div{
    padding-bottom: 50px;
    padding-top: 50px;
    width: 100%;
    display: flex;
}

.margin{
    flex-direction: row;
   
}

.big-box{
    width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.title-size-small{
    font-size: 4rem;
}

.p-size-small{
    font-size: 1.9rem;
    margin-top: 2rem;
}

.small-box{
    width: 480px;
    margin-top: 1.7;
    margin-left: 10rem;
}
article{
    display: flex;
    margin: 0 auto;
}

.green-box{
    background-color: #228b22;
    width: 1200px;
    height: 900px;
}

.box-rose-large{
    width: 360px;
    height: 580px;
    background-color: #ef7f7f;
}

.box-azure-small{
    height: 580px;
    width: 210px;
    background-color: #22b1a9;
    border: 1px dashed white;
}

/*/main rule*/

/*footer rule*/

footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #23272a;
    margin-top: 3px;
    padding-top: 50px;
}

.box-footer{
    width: 1200px;
    height: 80px;
    display: flex;
    background-color: #7fffd4;
    align-items: center;
    justify-content: space-between;
}

.final-box{
    background-color: #ffb6c1;
    padding: 3px;
    border: 1px dashed black;
}

/*/footer rule*/